In [1]:
import pandas as pd
#data_one = pd.read_csv('bigData_cleaned2.csv')
data_one = pd.read_csv('data_no_outliers.csv')

In [2]:
data_one=data_one.iloc[:,1:]
#dropping the first column, always appears in a bug

In [3]:
#creating a copy so we won't mess with the source data
data_two = data_one.copy()

In [4]:
#creating function to have city to have numerical value
def season_to_numeric(df, cities_set):
    df['city']=df['city'].astype('category')
    replace_map={}
    for i,city in enumerate(cities_set):
        replace_map[city]=i
    df['city'].replace(replace_map, inplace=True)

In [5]:
#Here we summon the function to make city to numeric value
#what we did was to take as set all of the city values in the dataframe, as set so we won't have duplicates
#then we just gave each praticular city a numerical value in the function and set in instead of the praticular city on the df
cities_set = set(data_two['city'])
season_to_numeric(data_two,cities_set)

In [6]:
#giving months numerical values
months_to_numerical_values_dict = {
    'jan':1,
     'feb':2,
     'mar':3,
     'apr':4,
     'may':5, 
     'jun':6,
     'jul':7,
     'aug':8,
     'sep':9,
     'oct':10,
     'nov':11,
     'dec':12
}
data_two.replace(months_to_numerical_values_dict, inplace=True)

In [7]:
#converting team_1_rating to integer
data_two.team_1_rating=data_two['team_1_rating'].astype('int64')

In [8]:
#converting team_2_rating to integer
data_two.team_2_rating=data_two['team_2_rating'].astype('int64')

In [9]:
#converting capcaity to integer
data_two.capacity=data_two['capacity'].astype('int64')

In [10]:
#converting year to integer
data_two.year=data_two['year'].astype('int64')

In [11]:
#converting derby to boolean
data_two.derby=data_two['derby'].astype('bool')

In [12]:
#converting temprature to integer
#converting precipitation to integer
data_two.temprature=data_two['temprature'].astype('int64')
data_two.precipitation=data_two['precipitation'].astype('int64')

In [13]:
#converting attendance to integer
data_two.attendance=data_two['attendance'].astype('int64')

In [14]:
#converting occuper to integer
data_two.occuper=data_two['occuper'].astype('int64')

In [18]:
#creating teams dictionary and giving numerical values to each team, like Arsenal = 1 from now on in the pandas data frame
#Bolton = 14... 
teams_list = list(data_two['team_1'].unique())
teams_dictionary=dict()
for i, team in enumerate(teams_list):
    teams_dictionary[team] = i+1
data_two['team_1'].replace(teams_dictionary, inplace=True)
data_two['team_2'].replace(teams_dictionary, inplace=True)
teams_dictionary_reversed = {v: k for k, v in teams_dictionary.items()}

In [19]:
#team_pairs = list(teams_dictionary_reversed.items())
#reverse engineering what we just did so we will have dictionary in case we want to know who is 13 on the teams and we forgot
#saving it as dataframe for future usage
teams_dict_data_frame = pd.DataFrame({'team_number':teams_dictionary_reversed.keys(), 'team_name':teams_dictionary_reversed.values()})
teams_dict_data_frame.to_csv('teams_dict_data_frame.csv')

In [20]:
#dropping columns we thought we might have had any usage in like stadium name or current season, right now we don't have any
#usage in them so we got to conclusion we need to drop them
data_three=data_two.copy().drop(['stadium', 'current_season'], axis=1)

In [21]:
#saving all of the changes we have done in the dataframe.
data_three.to_csv('data_ready_for_ML_1.csv')